/* styles.css */

body {
    background-color: #484848;
    /* Grey background color */
    font-family: 'Fira Code', monospace;
    /* Set Fira Code as the default font */
    color: #9c9c9c;
    /* Set off-white text color for elements with the class 'off-white-text' */
}

footer {
    padding-top: 20px;
    text-align: center;
}

footer a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
}

footer a:hover {
    color: #00a657; /* Change color on hover */
}

h2, h3, b {
    color: #ffffff;
}

p {
    color: #9c9c9c;
}

.special {
    color: #00eb7b;
}

h1 {
    font-size: 64px;
}

button {
    margin-left: 10px;
}

p {
    /* Additional styling for paragraphs if needed */
    font-size: 16px;
    /* Adjust font size as needed */
}

.topnav a {
    float: left;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;

}

.topnav-right {
    float: right;
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    padding-top: 50px;
    text-decoration: none;
    font-size: 17px;
}

/* Add the tooltip styling */
.tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

/* Position the tooltip above the link */
.tooltip.top {
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

/* Position the tooltip above the right-aligned links */
.tooltip.right {
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
}

.menuLink img {
    transition: filter 0.3s; /* Add transition for smooth effect */
}

.menuLink:hover img {
    filter: brightness(100%) sepia(100%) hue-rotate(120deg);
}


#homeLink img {
    content: url('../kaizen_logo.png');
    width: 325px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Set a specific width for consistency */
    justify-content: space-around; /* Adjust as needed */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.add-button {
    margin: 20px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 25px;
    background-color: #00eb7b;
    color: black;
    font-weight: bold;
}

.checkBoxLabel {
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkBoxLabel input {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkBoxIncomplete {
    color: white;
}

.blockDiv {
    display: block;
}

.box {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.boxNoBorder {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.hiddenBox {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#profile img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

#xpBarProgress {
    width: 100%;
    max-width: 400px;
    background-color: grey;
    border: 1px solid #ccc;
}

#xpBar {
    width: 1%;
    height: 30px;
    background-color: #00eb7b;
}

.bmi.underweight {
    color: rgb(0, 145, 255);
}

.bmi.normal {
    color: #00eb7b;
}

.bmi.overweight {
    color: orange;
}

.bmi.obese {
    color: red;
}

@media only screen and (min-width: 901px) {
    /* Show the tooltip on hover */
    .topnav a:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    /* Customize tooltip content for each link */
    .topnav a[href="/profile"] .tooltip::before {
        content: 'View Profile';
    }

    .topnav a[href="/lists"] .tooltip::before {
        content: 'Manage Lists';
    }

    .topnav a[href="/schedule"] .tooltip::before {
        content: 'Manage Schedule';
    }

    .topnav a[href="/weight"] .tooltip::before {
        content: 'Manage Weight';
    }

    .topnav a[href="/water"] .tooltip::before {
        content: 'Manage Hydration';
    }

    .topnav a[href="/journal"] .tooltip::before {
        content: 'Manage Journal';
    }

    .topnav a[href="/settings"] .tooltip::before {
        content: 'Change Settings';
    }
}

@media only screen and (max-width: 900px) {

    /* Adjust the size for screens with a maximum width of 600px (typical for phones) */
    #homeLink img {
        content: url('../kaizen_icon.png');
        width: 32px;
    }

    .menuLink img {
        width: 20px;
        height: 20px;
    }

    .topnav-right {
        padding-top: 5px;
    }

    .box {
        flex-basis: 100%; /* Set the basis to 100% for stacking */
        margin: auto;
        margin-top: 20px;
    }

    .hiddenBox {
        display: none;
    }

    #profile img {
        width: 175px;
        height: 175px;
    }
}